extends layout 
block content
  nav.busqueda
    h1 404 :(
  h2 Error 404: Página no encontrada
  p Lo sentimos, es probable que la búsqueda realizada no haya tenido ningún resultado.
  p Por favor, regrese a la página anterior.
