doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        title THE MET
        link(rel="stylesheet", href="/css/estilo.css")
        link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet")
        link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
    body 
        block content 
        script(type="module", src="/js/main.js") 